body{
    position: relative;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background: rgb(47,49,48);
    background: linear-gradient(0deg, rgba(47,49,48,1) 0%, rgba(72,179,163,1) 100%);
}
.gridContainer{
    position: relative;
    top: 0%;
    z-index: 2;
    margin: auto;
    width: 30vw;
    height: 50vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.calculatorDisplay{
    grid-column-start: 1;
    grid-column-end: 5;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background-color: #333333;
    color: white;
    font-size: 5rem;
    padding: 0 0.5em 0 0.5em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.calculatorButton{
    background-color: #4ABDAC;
    color: white;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
}
.clear, .plusOrMin, .onOff, .equal{
    background-color: rgb(110,202,189);
}
.divide, .times, .plus, .minus{
    background-color: #3B978A;
}
.equal{
    grid-column-start: 2;
    grid-column-end: 5;
    border-bottom-right-radius: 1rem;
}
.calculatorButton:nth-child(18){
    border-bottom-left-radius: 1rem;
}
.history{
    position: absolute;
    top: 0%;
    left: 35%;
    width: 30vw;
    height: 50vw;
    background-color: #333333;
    border-radius: 1rem;
    padding: 1em;
    box-sizing: border-box;
}

.history.active{
    left: calc(100% - 36%);
    padding-left: 2rem;
    border-top-left-radius: 0rem;
    border-bottom-left-radius: 0rem;
}

.history > h2{
    color: #fff;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
 }
 th,
 td {
    color: #fff;
    text-align: center;
    padding: 16px;
 }
 th {
    background-color: #4ABDAC;
    color: white;
 }

 @media  (max-width: 1300px) {
    .history{
        display: none;
    }
    .gridContainer{
        display: none;
    }  
 }